flows_raspberrypi.json
[{"id":"cc2f7188.b9b58","type":"tab","label":"Hal en slaapkamers","disabled":false,"info":""},{"id":"fc876bed.f64e78","type":"tab","label":"Woonkamer en keuken","disabled":false,"info":""},{"id":"1b8d0302.3b99dd","type":"tab","label":"Schuren&Buiten","disabled":false,"info":""},{"id":"1b687fc0.3119a","type":"tab","label":"Tech","disabled":false,"info":""},{"id":"e612a1ff.325b7","type":"mqtt-broker","z":"","name":"localhost","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ad3fc1f8.97307","type":"ui_group","z":"","name":"Woonkamer","tab":"8bf850a8.42c02","order":4,"disp":true,"width":"6","collapse":false},{"id":"8bf850a8.42c02","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c780d0a9.208f2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"900b3f55.35083","type":"ui_group","z":"","name":"Tech","tab":"305d987f.3eac58","disp":true,"width":"6","collapse":false},{"id":"305d987f.3eac58","type":"ui_tab","z":"","name":"Tech","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"e32e35c0.4fc158","type":"Sonoff basic","z":"cc2f7188.b9b58","mode":"0","broker":"e612a1ff.325b7","device":"hal_west","name":"","maxOn":"900","groupTopics":"","minInterval":1000,"x":300,"y":200,"wires":[["faa63c4e.af42e","c9e666e.6f05698"]]},{"id":"faa63c4e.af42e","type":"ui_switch","z":"cc2f7188.b9b58","name":"","label":"Hal","tooltip":"","group":"ad3fc1f8.97307","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":290,"y":260,"wires":[["e32e35c0.4fc158"]]},{"id":"bbaf8a38.374ae8","type":"mqtt in","z":"1b687fc0.3119a","name":"","topic":"+/+/STATUS5","qos":"2","datatype":"auto","broker":"e612a1ff.325b7","x":210,"y":200,"wires":[["cdd0b88c.780d68"]]},{"id":"cdd0b88c.780d68","type":"function","z":"1b687fc0.3119a","name":"IPextracter","func":"var knownDevices = context.get('knownDevices') || {}\nvar res = JSON.parse(msg.payload).StatusNET;\nvar {Hostname, ...rest} = res\n\nif (!knownDevices[Hostname]){\n    knownDevices[Hostname]=rest\n \n}\ncontext.set('knownDevices', knownDevices)\nreturn {\n    topic:Hostname, \n    payload: knownDevices\n}","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["d9f4a15f.3d5d3"]]},{"id":"d9f4a15f.3d5d3","type":"ui_template","z":"1b687fc0.3119a","group":"900b3f55.35083","name":"","order":0,"width":"6","height":"9","format":"<div id=\"{{'my_'+$id}}\" >\n    \n    \n</div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n        var container = $(\"#my_\"+scope.$id)\n        container.children().remove();\n        for (var name in msg.payload){\n           var elem = msg.payload[name];\n           container.append(`<a target=\"_blank\" href=\"http://${elem.IPAddress}\">${name}</a><br/>`)\n        }\n    }\n  });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":640,"y":260,"wires":[[]]},{"id":"e3a9bdef.37b27","type":"mqtt in","z":"1b687fc0.3119a","name":"","topic":"#","qos":"2","datatype":"auto","broker":"e612a1ff.325b7","x":270,"y":100,"wires":[["837f1972.c0b288"]]},{"id":"837f1972.c0b288","type":"function","z":"1b687fc0.3119a","name":"discovery","func":"var knownDevices = context.get('knownDevices') || {}\n\nvar topic=msg.topic.split('/')[1]\nif (!knownDevices[topic]){\n    knownDevices[topic]={}\n    node.send({\n        topic:`cmnd/${topic}/Status`,\n        payload: '5'\n    })\n}\ncontext.set('knownDevices', knownDevices)\nreturn [null,msg]","outputs":2,"noerr":0,"x":460,"y":140,"wires":[["23c07487.0a002c"],[]]},{"id":"23c07487.0a002c","type":"mqtt out","z":"1b687fc0.3119a","name":"","topic":"","qos":"","retain":"","broker":"e612a1ff.325b7","x":676.5,"y":173,"wires":[]},{"id":"c9e666e.6f05698","type":"Sonoff basic","z":"cc2f7188.b9b58","mode":"0","broker":"e612a1ff.325b7","device":"hal_oost","name":"","maxOn":"900","groupTopics":"","minInterval":1000,"x":300,"y":120,"wires":[["e32e35c0.4fc158","aebce342.de008"]]},{"id":"aebce342.de008","type":"Sonoff RF","z":"cc2f7188.b9b58","broker":"e612a1ff.325b7","device":"sonoff","lightDepend":"night","rfType":"pir","lat":"52.668872","lon":"6.297246","start":"sunrise","startOffset":0,"end":"sunset","endOffset":0,"offAfter":300,"offObey":"10","name":"Pir hal","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"EB490E","x":290,"y":60,"wires":[["c9e666e.6f05698"]]},{"id":"467805e7.b134dc","type":"Sonoff basic","z":"fc876bed.f64e78","mode":"0","broker":"e612a1ff.325b7","device":"WK_stalamp","name":"","maxOn":"18000","groupTopics":"","minInterval":1000,"x":290,"y":100,"wires":[["5b6b2bf9.5fdf24"]]},{"id":"7f08e9e9.d3e488","type":"Sonoff basic","z":"fc876bed.f64e78","mode":"0","broker":"e612a1ff.325b7","device":"WK_spots","name":"","maxOn":"18000","groupTopics":"","minInterval":1000,"x":290,"y":300,"wires":[["7804f7a3.a01e78"]]},{"id":"1ed6cb71.6e1365","type":"Sonoff basic","z":"fc876bed.f64e78","mode":"0","broker":"e612a1ff.325b7","device":"WK_eettafel","name":"","maxOn":"18000","groupTopics":"","minInterval":1000,"x":290,"y":200,"wires":[["f59836dc.1b0af8","882810ae.40f79"]]},{"id":"944712a6.7f36","type":"Sonoff basic","z":"fc876bed.f64e78","mode":"0","broker":"e612a1ff.325b7","device":"WK_spots_haard","name":"","maxOn":"18000","groupTopics":"","minInterval":1000,"x":310,"y":420,"wires":[["dbf8b2ac.ec715"]]},{"id":"5b6b2bf9.5fdf24","type":"ui_switch","z":"fc876bed.f64e78","name":"","label":"Stalamp","tooltip":"","group":"ad3fc1f8.97307","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":140,"wires":[["467805e7.b134dc"]]},{"id":"f59836dc.1b0af8","type":"ui_switch","z":"fc876bed.f64e78","name":"","label":"Eettafel","tooltip":"","group":"ad3fc1f8.97307","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":240,"wires":[["1ed6cb71.6e1365"]]},{"id":"7804f7a3.a01e78","type":"ui_switch","z":"fc876bed.f64e78","name":"","label":"Spots","tooltip":"","group":"ad3fc1f8.97307","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":340,"wires":[["7f08e9e9.d3e488"]]},{"id":"dbf8b2ac.ec715","type":"ui_switch","z":"fc876bed.f64e78","name":"","label":"Haard","tooltip":"","group":"ad3fc1f8.97307","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":460,"wires":[["944712a6.7f36"]]},{"id":"882810ae.40f79","type":"Sonoff RF","z":"fc876bed.f64e78","broker":"e612a1ff.325b7","device":"sonoff","lightDepend":"night","rfType":"button","lat":"52.668872","lon":"6.297246","start":"sunrise","startOffset":0,"end":"sunset","endOffset":0,"offAfter":"0","offObey":"10","name":"Woonkamer","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"3F8CF8","x":90,"y":220,"wires":[["1ed6cb71.6e1365","467805e7.b134dc","7f08e9e9.d3e488","944712a6.7f36"]]},{"id":"28042874.fdd6b8","type":"Sonoff basic","z":"cc2f7188.b9b58","mode":"0","broker":"e612a1ff.325b7","device":"slaapkamer","name":"Master","maxOn":"900","groupTopics":"","minInterval":1000,"x":570,"y":120,"wires":[["a0f9d858.6d7bd8","e3333c21.d302f","ec597005.d06db"]]},{"id":"a0f9d858.6d7bd8","type":"ui_switch","z":"cc2f7188.b9b58","name":"","label":"Master","tooltip":"","group":"ad3fc1f8.97307","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":180,"wires":[["28042874.fdd6b8"]]},{"id":"e3333c21.d302f","type":"Sonoff RF","z":"cc2f7188.b9b58","broker":"e612a1ff.325b7","device":"sonoff","lightDepend":"night","rfType":"button","lat":"52.668872","lon":"6.297246","start":"sunrise","startOffset":0,"end":"sunset","endOffset":0,"offAfter":"0","offObey":"10","name":"Knop bed","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"F18B58,611A68","x":580,"y":60,"wires":[["28042874.fdd6b8"]]},{"id":"ec597005.d06db","type":"Sonoff RF","z":"cc2f7188.b9b58","broker":"e612a1ff.325b7","device":"sonoff","lightDepend":"night","rfType":"button","lat":"52.668872","lon":"6.297246","start":"sunrise","startOffset":0,"end":"sunset","endOffset":0,"offAfter":"0","offObey":"10","name":"Knop paal","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"B3DC38","x":580,"y":240,"wires":[["28042874.fdd6b8"]]},{"id":"b3ffc358.b2865","type":"Sonoff basic","z":"cc2f7188.b9b58","mode":"0","broker":"e612a1ff.325b7","device":"BK_klein","name":"","maxOn":"900","groupTopics":"","minInterval":1000,"x":300,"y":440,"wires":[["b0fff328.32711","f35c816b.aa409"]]},{"id":"b0fff328.32711","type":"ui_switch","z":"cc2f7188.b9b58","name":"","label":"Badkamer Guus&Eef","tooltip":"","group":"ad3fc1f8.97307","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":500,"wires":[["b3ffc358.b2865"]]},{"id":"f35c816b.aa409","type":"Sonoff RF","z":"cc2f7188.b9b58","broker":"e612a1ff.325b7","device":"sonoff","lightDepend":"night","rfType":"button","lat":"52.668872","lon":"6.297246","start":"sunrise","startOffset":0,"end":"sunset","endOffset":0,"offAfter":"0","offObey":"10","name":"Knop badkamer","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"A9B958","x":320,"y":380,"wires":[["b3ffc358.b2865"]]},{"id":"eaa0c13f.f85c2","type":"Sonoff basic","z":"cc2f7188.b9b58","mode":"0","broker":"e612a1ff.325b7","device":"guus","name":"","maxOn":"900","groupTopics":"","minInterval":1000,"x":590,"y":400,"wires":[["a71ae4c8.412348","a947bdca.5235c"]]},{"id":"a71ae4c8.412348","type":"ui_switch","z":"cc2f7188.b9b58","name":"","label":"Guus","tooltip":"","group":"ad3fc1f8.97307","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":590,"y":460,"wires":[["eaa0c13f.f85c2"]]},{"id":"a947bdca.5235c","type":"Sonoff RF","z":"cc2f7188.b9b58","broker":"e612a1ff.325b7","device":"sonoff","lightDepend":"night","rfType":"button","lat":"52.668872","lon":"6.297246","start":"sunrise","startOffset":0,"end":"sunset","endOffset":0,"offAfter":"0","offObey":"10","name":"Knop guus","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"E8B6F8","x":610,"y":340,"wires":[["eaa0c13f.f85c2"]]},{"id":"de45d5bc.7e31b8","type":"Sonoff basic","z":"cc2f7188.b9b58","mode":"0","broker":"e612a1ff.325b7","device":"evy","name":"","maxOn":"900","groupTopics":"","minInterval":1000,"x":610,"y":580,"wires":[["21991753.935c18"]]},{"id":"21991753.935c18","type":"ui_switch","z":"cc2f7188.b9b58","name":"","label":"Evy","tooltip":"","group":"ad3fc1f8.97307","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":590,"y":640,"wires":[["de45d5bc.7e31b8"]]},{"id":"3cedc3d8.ac3dcc","type":"Sonoff basic","z":"1b8d0302.3b99dd","mode":"0","broker":"e612a1ff.325b7","device":"achter_peer","name":"","maxOn":"18000","groupTopics":"","minInterval":1000,"x":210,"y":220,"wires":[["22d8ca2b.e2a0d6","8cbbd31c.45693"]]},{"id":"22d8ca2b.e2a0d6","type":"Sonoff basic","z":"1b8d0302.3b99dd","mode":"0","broker":"e612a1ff.325b7","device":"achter_tl","name":"","maxOn":"18000","groupTopics":"","minInterval":1000,"x":360,"y":320,"wires":[[]]},{"id":"ec909cf5.58d75","type":"Sonoff RF","z":"1b8d0302.3b99dd","broker":"e612a1ff.325b7","device":"sonoff","lightDepend":"night","rfType":"pir","lat":"52.668872","lon":"6.297246","start":"sunrise","startOffset":0,"end":"sunset","endOffset":0,"offAfter":300,"offObey":"10","name":"Pir achter","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"EBE2DE","x":200,"y":160,"wires":[["3cedc3d8.ac3dcc"]]},{"id":"8cbbd31c.45693","type":"ui_switch","z":"1b8d0302.3b99dd","name":"","label":"Achter","tooltip":"","group":"ad3fc1f8.97307","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":280,"wires":[["3cedc3d8.ac3dcc"]]},{"id":"45df89f2.47a878","type":"Sonoff basic","z":"1b8d0302.3b99dd","mode":"0","broker":"e612a1ff.325b7","device":"stal_peer","name":"","maxOn":"18000","groupTopics":"","minInterval":1000,"x":180,"y":380,"wires":[["b070790f.ceb928","c282a0f9.f2f2f"]]},{"id":"b070790f.ceb928","type":"ui_switch","z":"1b8d0302.3b99dd","name":"","label":"Stallen","tooltip":"","group":"ad3fc1f8.97307","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":440,"wires":[["45df89f2.47a878"]]},{"id":"c282a0f9.f2f2f","type":"Sonoff basic","z":"1b8d0302.3b99dd","mode":"0","broker":"e612a1ff.325b7","device":"stal_tl","name":"","maxOn":"18000","groupTopics":"","minInterval":1000,"x":410,"y":460,"wires":[[]]},{"id":"a6b4fa7e.f9e7e8","type":"Sonoff basic","z":"1b8d0302.3b99dd","mode":"0","broker":"e612a1ff.325b7","device":"portiek","name":"","maxOn":"1800","groupTopics":"","minInterval":1000,"x":510,"y":160,"wires":[["954b4759.1c2648","2d1bc65f.e290ea","16943404.362f6c","2daf1260.9c462e","4c5a21f.04224e"]]},{"id":"16943404.362f6c","type":"Sonoff basic","z":"1b8d0302.3b99dd","mode":"0","broker":"e612a1ff.325b7","device":"zuidgevel","name":"","maxOn":"1800","groupTopics":"","minInterval":1000,"x":720,"y":100,"wires":[[]]},{"id":"2d1bc65f.e290ea","type":"Sonoff basic","z":"1b8d0302.3b99dd","mode":"0","broker":"e612a1ff.325b7","device":"westgevel_peer","name":"","maxOn":"1800","groupTopics":"","minInterval":1000,"x":740,"y":160,"wires":[[]]},{"id":"954b4759.1c2648","type":"Sonoff basic","z":"1b8d0302.3b99dd","mode":"0","broker":"e612a1ff.325b7","device":"bb2b_buitenlamp","name":"Konijnenlamp","maxOn":"1800","groupTopics":"","minInterval":1000,"x":740,"y":220,"wires":[[]]},{"id":"2daf1260.9c462e","type":"ui_switch","z":"1b8d0302.3b99dd","name":"","label":"Buiten","tooltip":"","group":"ad3fc1f8.97307","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":220,"wires":[["a6b4fa7e.f9e7e8"]]},{"id":"4c5a21f.04224e","type":"Sonoff RF","z":"1b8d0302.3b99dd","broker":"e612a1ff.325b7","device":"sonoff","lightDepend":"night","rfType":"pir","lat":"52.668872","lon":"6.297246","start":"sunrise","startOffset":0,"end":"sunset","endOffset":0,"offAfter":300,"offObey":"10","name":"Pir voordeur","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"EC21EE","x":530,"y":100,"wires":[["a6b4fa7e.f9e7e8"]]},{"id":"82d53ffc.a095f","type":"Sonoff basic","z":"1b8d0302.3b99dd","mode":"0","broker":"e612a1ff.325b7","device":"westgevel_flood","name":"","maxOn":"","groupTopics":"","minInterval":1000,"x":740,"y":300,"wires":[["265511ad.8cac6e"]]},{"id":"265511ad.8cac6e","type":"ui_switch","z":"1b8d0302.3b99dd","name":"","label":"Floodlight","tooltip":"","group":"ad3fc1f8.97307","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":720,"y":360,"wires":[["82d53ffc.a095f"]]},{"id":"bd947893.b16d38","type":"Sonoff basic","z":"fc876bed.f64e78","mode":"0","broker":"e612a1ff.325b7","device":"keukenkast","name":"","maxOn":"300","groupTopics":"","minInterval":1000,"x":630,"y":140,"wires":[["e00c29d5.01d308"]]},{"id":"e00c29d5.01d308","type":"Sonoff RF","z":"fc876bed.f64e78","broker":"e612a1ff.325b7","device":"sonoff","lightDepend":"night","rfType":"button","lat":"52.668872","lon":"6.297246","start":"sunrise","startOffset":0,"end":"sunset","endOffset":0,"offAfter":"30","offObey":"10","name":"Deursensor","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"1911A9","x":630,"y":200,"wires":[["bd947893.b16d38"]]},{"id":"b669a85.64a8d58","type":"Sonoff basic","z":"fc876bed.f64e78","mode":"0","broker":"e612a1ff.325b7","device":"aanrecht","name":"","maxOn":"7200","groupTopics":"","minInterval":1000,"x":620,"y":360,"wires":[["5f28e097.487bd","26b92207.d074ee"]]},{"id":"5f28e097.487bd","type":"Sonoff basic","z":"fc876bed.f64e78","mode":"0","broker":"e612a1ff.325b7","device":"keuken","name":"","maxOn":"7200","groupTopics":"","minInterval":1000,"x":780,"y":340,"wires":[[]]},{"id":"26b92207.d074ee","type":"ui_switch","z":"fc876bed.f64e78","name":"","label":"Keuken","tooltip":"","group":"ad3fc1f8.97307","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":620,"y":300,"wires":[["b669a85.64a8d58"]]},{"id":"2fd4a331.3821bc","type":"Sonoff basic","z":"1b8d0302.3b99dd","mode":"0","broker":"e612a1ff.325b7","device":"loods","name":"","maxOn":"7200","groupTopics":"","minInterval":1000,"x":690,"y":440,"wires":[["2f4ebf3a.bfaf1"]]},{"id":"2f4ebf3a.bfaf1","type":"ui_switch","z":"1b8d0302.3b99dd","name":"","label":"Loods","tooltip":"","group":"ad3fc1f8.97307","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":690,"y":500,"wires":[["2fd4a331.3821bc"]]},{"id":"f9007248.4f72c","type":"Sonoff basic","z":"cc2f7188.b9b58","mode":"0","broker":"e612a1ff.325b7","device":"bijkeuken","name":"","maxOn":"900","groupTopics":"","minInterval":1000,"x":300,"y":580,"wires":[["33717538.3c908a"]]},{"id":"33717538.3c908a","type":"ui_switch","z":"cc2f7188.b9b58","name":"","label":"Bijkeuken","tooltip":"","group":"ad3fc1f8.97307","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":300,"y":640,"wires":[["f9007248.4f72c"]]},{"id":"be759c3b.1c1a7","type":"Sonoff basic","z":"cc2f7188.b9b58","mode":"0","broker":"e612a1ff.325b7","device":"badkamer","name":"","maxOn":"1800","groupTopics":"","minInterval":1000,"x":300,"y":720,"wires":[["30a27670.1c695a"]]},{"id":"30a27670.1c695a","type":"ui_switch","z":"cc2f7188.b9b58","name":"","label":"Badkamer","tooltip":"","group":"ad3fc1f8.97307","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310,"y":780,"wires":[["be759c3b.1c1a7"]]},{"id":"23905ab3.a77ff6","type":"Sonoff basic","z":"1b687fc0.3119a","mode":"0","broker":"e612a1ff.325b7","device":"blitzwolf","name":"","maxOn":"0","groupTopics":"","minInterval":1000,"x":500,"y":440,"wires":[["cf985903.416b08"]]},{"id":"872115af.83aca8","type":"Sonoff basic","z":"1b8d0302.3b99dd","mode":"0","broker":"e612a1ff.325b7","device":"schrikdraad","name":"","maxOn":"0","groupTopics":"","minInterval":1000,"x":710,"y":540,"wires":[["c5ac56ff.ab3d28"]]},{"id":"c5ac56ff.ab3d28","type":"ui_switch","z":"1b8d0302.3b99dd","name":"","label":"Schrikdraad","tooltip":"","group":"ad3fc1f8.97307","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":710,"y":600,"wires":[["872115af.83aca8"]]},{"id":"4e6ffcd2.3346c4","type":"timerswitch","z":"1b687fc0.3119a","name":"Server aan/uit","ontopic":"","offtopic":"","onpayload":"ON","offpayload":"OFF","disabled":false,"schedules":[{"on_h":"07","on_m":"00","on_s":"00","off_h":"23","off_m":"10","off_s":"00","valid":true}],"x":360,"y":360,"wires":[[]]},{"id":"cf985903.416b08","type":"ui_switch","z":"1b687fc0.3119a","name":"","label":"Server","tooltip":"","group":"ad3fc1f8.97307","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":520,"wires":[["23905ab3.a77ff6"]]}]