flows_geertjan-VirtualBox.json
[{"id":"af0fa69e.8961f8","type":"tab","label":"MainFlow","disabled":false,"info":""},{"id":"c0db44fd.ce5fa8","type":"tab","label":"Meters","disabled":false,"info":""},{"id":"43bc57b9.925ae8","type":"tab","label":"Guus","disabled":false,"info":""},{"id":"b416c89a.b359e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"275bed82.41aa12","type":"ui_tab","z":"","name":"tech","icon":"dashboard","disabled":false,"hidden":false},{"id":"7d85df91.20795","type":"ui_group","z":"","name":"Home","tab":"275bed82.41aa12","disp":true,"width":"6","collapse":false},{"id":"5d003afe.e09614","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fa430c00.8b087","type":"ui_group","z":"","name":"Grafieken","tab":"","order":2,"disp":true,"width":"12","collapse":false},{"id":"b2642e28.f4a65","type":"mqtt-broker","z":"","name":"localhost","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a99bcbfd.3f2828","type":"ui_group","z":"","name":"Woonkamer","tab":"3b3766a7.32a24a","order":4,"disp":true,"width":"6","collapse":false},{"id":"c19a75b5.09a0e8","type":"ui_group","z":"","name":"Grafieken","tab":"5bdba143.91c27","order":2,"disp":true,"width":"12","collapse":false},{"id":"3b3766a7.32a24a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5bdba143.91c27","type":"ui_tab","z":"","name":"Grafieken","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d2d942aa.38695","type":"ui_group","z":"","name":"Keuken","tab":"3b3766a7.32a24a","order":6,"disp":true,"width":"6","collapse":false},{"id":"b380197b.093bc8","type":"ui_group","z":"","name":"Hal","tab":"3b3766a7.32a24a","order":7,"disp":true,"width":"6","collapse":false},{"id":"1f93c0fe.75c38f","type":"ui_group","z":"","name":"Slaapkamers","tab":"3b3766a7.32a24a","order":3,"disp":true,"width":"6","collapse":false},{"id":"69d5238c.2382dc","type":"ui_spacer","name":"spacer","group":"c19a75b5.09a0e8","order":5,"width":1,"height":1},{"id":"5eaae852.79b548","type":"ui_group","z":"","name":"Badkamer","tab":"3b3766a7.32a24a","order":5,"disp":true,"width":"6","collapse":false},{"id":"80323632.d20c38","type":"ui_group","z":"","name":"Time","tab":"3b3766a7.32a24a","order":2,"disp":false,"width":"6","collapse":false},{"id":"2a9110da.fa80c","type":"ui_group","z":"","name":"Huis","tab":"3b3766a7.32a24a","order":1,"disp":false,"width":"6","collapse":false},{"id":"f8c0aaa4.cef178","type":"ui_group","z":"","name":"Buiten","tab":"3b3766a7.32a24a","order":8,"disp":true,"width":"6","collapse":false},{"id":"34a48dce.b618b2","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"WK_stalamp","name":"WK_stalamp","maxOn":"","groupTopics":"woonkamer","minInterval":"1000","x":865.5556030273438,"y":310.5555725097656,"wires":[["a60602d5.1e81"]]},{"id":"a60602d5.1e81","type":"ui_switch","z":"af0fa69e.8961f8","name":"","label":"Staande lamp","tooltip":"","group":"a99bcbfd.3f2828","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":856.5,"y":253,"wires":[["34a48dce.b618b2"]]},{"id":"25014370.2208cc","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"WK_spots","name":"WK_spots","x":835,"y":425,"wires":[["c1f03ac9.557ca8"]]},{"id":"c1f03ac9.557ca8","type":"ui_switch","z":"af0fa69e.8961f8","name":"","label":"Spots","tooltip":"","group":"a99bcbfd.3f2828","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":834,"y":360,"wires":[["25014370.2208cc"]]},{"id":"368ed8d8.dec7f8","type":"ui_switch","z":"af0fa69e.8961f8","name":"","label":"Eettafel","tooltip":"","group":"a99bcbfd.3f2828","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":841,"y":482,"wires":[["5944375d.1c19b8"]]},{"id":"5944375d.1c19b8","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"WK_eettafel","name":"WK_eettafel","x":835,"y":549,"wires":[["368ed8d8.dec7f8","92e8f77b.9566b8"]]},{"id":"12a86de.bf92c92","type":"ui_switch","z":"af0fa69e.8961f8","name":"","label":"Haard","tooltip":"","group":"a99bcbfd.3f2828","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":815,"y":605,"wires":[["125bd095.583e6f"]]},{"id":"125bd095.583e6f","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"WK_spots_haard","name":"WK_haard","minInterval":"1000","x":846,"y":664,"wires":[["12a86de.bf92c92","f2928b63.827dc8"]]},{"id":"96b80b0b.fbf1e8","type":"ui_chart","z":"c0db44fd.ce5fa8","name":"","group":"c19a75b5.09a0e8","order":1,"width":0,"height":0,"label":"Keuken temperatuur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"10","removeOlderPoints":"1500","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":541.5,"y":296,"wires":[[]]},{"id":"4ca03391.3ab47c","type":"mqtt in","z":"c0db44fd.ce5fa8","name":"Keuken","topic":"tele/sonoff/SENSOR","qos":"1","broker":"b2642e28.f4a65","x":69,"y":177,"wires":[["f173cc56.e5bfd"]]},{"id":"f173cc56.e5bfd","type":"json","z":"c0db44fd.ce5fa8","name":"parse","property":"payload","action":"","pretty":false,"x":232,"y":82,"wires":[["4e3dafe8.8de03"]]},{"id":"4e3dafe8.8de03","type":"function","z":"c0db44fd.ce5fa8","name":"GaugleControl","func":"return [\n    {payload: msg.payload.DHT11.Temperature},\n    {payload: msg.payload.DHT11.Humidity}\n    ]","outputs":2,"noerr":0,"x":270,"y":224,"wires":[["96b80b0b.fbf1e8","63d61fb9.cc715"],["529864ff.94ec2c"]]},{"id":"63d61fb9.cc715","type":"ui_gauge","z":"c0db44fd.ce5fa8","name":"","group":"d2d942aa.38695","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperatuur","label":"c","format":"{{value}}","min":0,"max":"30","colors":["#1f00b5","#00ff00","#ca3838"],"seg1":"17","seg2":"23","x":528,"y":209,"wires":[]},{"id":"529864ff.94ec2c","type":"ui_chart","z":"c0db44fd.ce5fa8","name":"","group":"c19a75b5.09a0e8","order":2,"width":0,"height":0,"label":"Keuken vochtigheid","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"1500","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":532,"y":339,"wires":[[]]},{"id":"f447b38a.1f594","type":"ui_chart","z":"c0db44fd.ce5fa8","name":"","group":"c19a75b5.09a0e8","order":3,"width":0,"height":0,"label":"Haard temperatuur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"10","removeOlderPoints":"1500","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":527.5,"y":537,"wires":[[]]},{"id":"502969ee.9db228","type":"mqtt in","z":"c0db44fd.ce5fa8","name":"haard","topic":"tele/WK_spots_haard/SENSOR","qos":"1","broker":"b2642e28.f4a65","x":55,"y":459,"wires":[["5424c9e1.405e78"]]},{"id":"5424c9e1.405e78","type":"json","z":"c0db44fd.ce5fa8","name":"parse","property":"payload","action":"","pretty":false,"x":226,"y":421,"wires":[["768f90e5.8dd66"]]},{"id":"768f90e5.8dd66","type":"function","z":"c0db44fd.ce5fa8","name":"GaugleControl","func":"return [\n    {payload: msg.payload.DHT11.Temperature},\n    {payload: msg.payload.DHT11.Humidity}\n    ]","outputs":2,"noerr":0,"x":256,"y":506,"wires":[["f447b38a.1f594","1714da6c.680f66"],["dc0a22dc.7538b"]]},{"id":"1714da6c.680f66","type":"ui_gauge","z":"c0db44fd.ce5fa8","name":"","group":"a99bcbfd.3f2828","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatuur","label":"c","format":"{{value}}","min":0,"max":"30","colors":["#1f00b5","#00ff00","#ca3838"],"seg1":"17","seg2":"23","x":522,"y":440,"wires":[]},{"id":"4ae11057.a9f31","type":"ui_switch","z":"af0fa69e.8961f8","name":"","label":"Keuken","tooltip":"","group":"d2d942aa.38695","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":236,"y":425,"wires":[["914e4b99.e61048"]]},{"id":"914e4b99.e61048","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"keuken","name":"Keuken","x":234,"y":504,"wires":[["4ae11057.a9f31","b44a6d12.74bae","89ca00dd.1dfdf"]]},{"id":"8d4f688d.05e1c8","type":"ui_switch","z":"af0fa69e.8961f8","name":"","label":"Keukenkast","tooltip":"","group":"d2d942aa.38695","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1199,"y":737,"wires":[["25f6ac72.9fdf14"]]},{"id":"25f6ac72.9fdf14","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"keukenkast","name":"Keukenkast","x":1207,"y":651,"wires":[["8d4f688d.05e1c8","cfd03054.6023e"]]},{"id":"b44a6d12.74bae","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"aanrecht","name":"Aanrecht","x":436,"y":430,"wires":[[]]},{"id":"5a7a0815.4d2768","type":"Sonoff basic","z":"43bc57b9.925ae8","mode":"0","broker":"b2642e28.f4a65","device":"guus","name":"Guus","x":563,"y":244,"wires":[["f7b2afc7.07322","833324da.269b58"]]},{"id":"f7b2afc7.07322","type":"ui_switch","z":"43bc57b9.925ae8","name":"","label":"Guus","tooltip":"","group":"1f93c0fe.75c38f","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":553,"y":155,"wires":[["5a7a0815.4d2768"]]},{"id":"236d8c72.d4eb04","type":"ui_switch","z":"af0fa69e.8961f8","name":"","label":"Hal","tooltip":"","group":"b380197b.093bc8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":528,"y":1209,"wires":[["c0cc63f.232bea"]]},{"id":"92bc0401.4b9808","type":"ui_chart","z":"c0db44fd.ce5fa8","name":"","group":"c19a75b5.09a0e8","order":6,"width":0,"height":0,"label":"Hal temperatuur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"10","removeOlderPoints":"1500","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":526.5,"y":794,"wires":[[]]},{"id":"9bf82b72.59b3a8","type":"mqtt in","z":"c0db44fd.ce5fa8","name":"Hal west","topic":"tele/hal_west/SENSOR","qos":"1","broker":"b2642e28.f4a65","x":65,"y":752,"wires":[["ca82c0c.cb67c4"]]},{"id":"ca82c0c.cb67c4","type":"json","z":"c0db44fd.ce5fa8","name":"parse","property":"payload","action":"","pretty":false,"x":226,"y":714,"wires":[["1025ef0f.db21c1"]]},{"id":"1025ef0f.db21c1","type":"function","z":"c0db44fd.ce5fa8","name":"GaugleControl","func":"return [\n    {payload: msg.payload.DHT11.Temperature},\n    {payload: msg.payload.DHT11.Humidity}\n    ]","outputs":2,"noerr":0,"x":256,"y":799,"wires":[["92bc0401.4b9808","a4f64571.521a18"],["6d87b726.2ecbc8"]]},{"id":"a4f64571.521a18","type":"ui_gauge","z":"c0db44fd.ce5fa8","name":"","group":"b380197b.093bc8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatuur","label":"c","format":"{{value}}","min":0,"max":"30","colors":["#1f00b5","#00ff00","#ca3838"],"seg1":"17","seg2":"23","x":526,"y":673,"wires":[]},{"id":"d3fbdcce.7c5e","type":"ui_switch","z":"af0fa69e.8961f8","name":"","label":"Badkamer Guus en Evy","tooltip":"","group":"b380197b.093bc8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":780,"y":44,"wires":[["4f6afe71.7f4df"]]},{"id":"4f6afe71.7f4df","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"BK_klein","name":"Badkamer Guus en Evy","x":785,"y":110,"wires":[["d3fbdcce.7c5e","15e1ff4e.be6631"]]},{"id":"f146fadb.bde578","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"slaapkamer","name":"Slaapkamer","x":519,"y":699,"wires":[["d1a8aedf.3842","22ade018.9a5ad"]]},{"id":"d1a8aedf.3842","type":"ui_switch","z":"af0fa69e.8961f8","name":"","label":"Master","tooltip":"","group":"1f93c0fe.75c38f","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":517.9443969726562,"y":617.4444580078125,"wires":[["f146fadb.bde578"]]},{"id":"a314e308.5239a","type":"ui_chart","z":"c0db44fd.ce5fa8","name":"","group":"c19a75b5.09a0e8","order":11,"width":0,"height":0,"label":"Slaapkamer temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"10","removeOlderPoints":"1500","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":545.5,"y":1062,"wires":[[]]},{"id":"dabc5150.258fa","type":"mqtt in","z":"c0db44fd.ce5fa8","name":"Slaapkamer","topic":"tele/slaapkamer/SENSOR","qos":"1","broker":"b2642e28.f4a65","x":105,"y":958,"wires":[["ca836b66.8d4838"]]},{"id":"ca836b66.8d4838","type":"json","z":"c0db44fd.ce5fa8","name":"parse","property":"payload","action":"","pretty":false,"x":256,"y":920,"wires":[["d0831981.a7d418"]]},{"id":"d0831981.a7d418","type":"function","z":"c0db44fd.ce5fa8","name":"GaugleControl","func":"return [\n    {payload: msg.payload.DHT11.Temperature},\n    {payload: msg.payload.DHT11.Humidity}\n    ]","outputs":2,"noerr":0,"x":286,"y":1005,"wires":[["a314e308.5239a","2937a667.467bba"],["8dc1fa79.0aacb8"]]},{"id":"2937a667.467bba","type":"ui_gauge","z":"c0db44fd.ce5fa8","name":"","group":"1f93c0fe.75c38f","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperatuur","label":"c","format":"{{value}}","min":0,"max":"30","colors":["#1f00b5","#00ff00","#ca3838"],"seg1":"17","seg2":"23","x":552,"y":939,"wires":[]},{"id":"cfd03054.6023e","type":"Sonoff PIR","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"sonoff","lightDepend":"always","lon":"6.29555","lat":"52.67456","startOffset":"0","endOffset":"0","offAfter":"30","name":"Sensor keukenkast","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"1911A9","x":1221,"y":584,"wires":[["25f6ac72.9fdf14"],[]]},{"id":"c8b240c7.7cbb","type":"ui_switch","z":"af0fa69e.8961f8","name":"","label":"Evy","tooltip":"","group":"1f93c0fe.75c38f","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":256,"y":972,"wires":[["346275f.65fe38a"]]},{"id":"346275f.65fe38a","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"evy","name":"Slaapkamer evy","x":260,"y":1040,"wires":[["c8b240c7.7cbb"]]},{"id":"b84f0ae7.bdc1f8","type":"mqtt in","z":"c0db44fd.ce5fa8","name":"Airvent","topic":"tele/airvent/SENSOR","qos":"1","broker":"b2642e28.f4a65","x":846,"y":384,"wires":[["32e87f14.8f358","df6452a3.b673d"]]},{"id":"32e87f14.8f358","type":"json","z":"c0db44fd.ce5fa8","name":"parse","property":"payload","action":"","pretty":false,"x":1005,"y":449,"wires":[["9ee69228.e45e7"]]},{"id":"9ee69228.e45e7","type":"function","z":"c0db44fd.ce5fa8","name":"Airfan control","func":"var treshHoldLow = 101;\nvar treshHoldHigh = 120;\nvar state = context.get('state') || false;\nif (typeof(msg.payload)=='boolean'){\n    context.set('state', msg.payload);\n    state=msg.payload;\n}\nelse if (typeof(msg.payload)=='object'){\n var value = msg.payload.DHT11.Humidity\n if (value>=treshHoldHigh && !state){\n    node.send({payload:true})\n } else if (value<=treshHoldLow && state){\n    node.send({payload:false})\n }\n}\nif (!state)\n    node.status({fill:\"red\",shape:\"ring\",text:\"niet vochtig\"});\nelse\n    node.status({fill:\"green\",shape:\"dot\",text:\"vochtig\"});","outputs":1,"noerr":0,"x":1007,"y":535,"wires":[["b64b8234.d426d"]]},{"id":"b64b8234.d426d","type":"Sonoff basic","z":"c0db44fd.ce5fa8","mode":"0","broker":"b2642e28.f4a65","device":"airvent","name":"","x":1006,"y":642,"wires":[["9ee69228.e45e7","d48f64c.be9b598","62ac5fbc.9c9a1"]]},{"id":"d48f64c.be9b598","type":"ui_switch","z":"c0db44fd.ce5fa8","name":"Afzuiging","label":"Afzuiging","tooltip":"","group":"5eaae852.79b548","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-shower ","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"fa-shower ","offcolor":"","x":1011,"y":721,"wires":[["b64b8234.d426d"]]},{"id":"10680357.c5ed4d","type":"ui_chart","z":"c0db44fd.ce5fa8","name":"","group":"c19a75b5.09a0e8","order":7,"width":0,"height":0,"label":"Badkamer temperatuur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"10","removeOlderPoints":"1500","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":601,"y":1281,"wires":[[]]},{"id":"807f813b.3e75e","type":"mqtt in","z":"c0db44fd.ce5fa8","name":"Badkamer","topic":"tele/airvent/SENSOR","qos":"1","broker":"b2642e28.f4a65","x":105.5,"y":1199,"wires":[["5e73bb9d.6a6ff4"]]},{"id":"5e73bb9d.6a6ff4","type":"json","z":"c0db44fd.ce5fa8","name":"parse","property":"payload","action":"","pretty":false,"x":280.5,"y":1201,"wires":[["f06b845c.df3848"]]},{"id":"f06b845c.df3848","type":"function","z":"c0db44fd.ce5fa8","name":"GaugleControl","func":"return [\n    {payload: msg.payload.DHT11.Temperature},\n    {payload: msg.payload.DHT11.Humidity}\n    ]","outputs":2,"noerr":0,"x":310.5,"y":1286,"wires":[["10680357.c5ed4d","9d50acdb.05d1d"],["8ed1c442.048798","64ee6a92.50c184"]]},{"id":"8ed1c442.048798","type":"ui_gauge","z":"c0db44fd.ce5fa8","name":"","group":"5eaae852.79b548","order":4,"width":0,"height":0,"gtype":"gage","title":"Vochtigheid","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#f9f7ff","#6fcae6","#2220ca"],"seg1":"","seg2":"","x":598.5,"y":1216,"wires":[]},{"id":"64ee6a92.50c184","type":"ui_chart","z":"c0db44fd.ce5fa8","name":"","group":"c19a75b5.09a0e8","order":8,"width":0,"height":0,"label":"Badkamer vochtigheid","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"1500","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":604.5,"y":1323,"wires":[[]]},{"id":"9d50acdb.05d1d","type":"ui_gauge","z":"c0db44fd.ce5fa8","name":"","group":"5eaae852.79b548","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperatuur","label":"c","format":"{{value}}","min":0,"max":"30","colors":["#1f00b5","#00ff00","#ca3838"],"seg1":"17","seg2":"23","x":587,"y":1163,"wires":[]},{"id":"62ac5fbc.9c9a1","type":"ui_template","z":"c0db44fd.ce5fa8","group":"5eaae852.79b548","name":"Fan widget","order":1,"width":"6","height":"2","format":"<style>\n    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }\n    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }\n    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }\n.nr-dashboard-theme :not(.fanOn).fan path{\n    fill:#fff;\n}   \n.wrap {\n    overflow:hidden;\n    height: 150px;\n    margin: auto;\n}\n.fanOn {\n    -webkit-animation:spin 4s linear infinite;\n    -moz-animation:spin 4s linear infinite;\n    animation:spin 4s linear infinite;\n}\n</style>\n<div class=\"wrap\">\n<svg id=\"{{'my_'+$id}}\" class='fan' height=\"75\" viewBox=\"0 0 1025 1024\" version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M511.999996 0c-282.769178 0-512 229.229798-512 512 0 282.769178 229.229798 512 512 512 282.770202 0 512.001023-229.230822 512.001023-512C1024.001019 229.229798 794.770198 0 511.999996 0zM859.567993 859.56595c-45.148269 45.148269-97.716532 80.59355-156.245554 105.34835-60.585867 25.625634-124.954897 38.618553-191.32142 38.618553-66.3655 0-130.735553-12.992919-191.320397-38.618553-58.529021-24.7548-111.097284-60.20008-156.246577-105.34835-45.148269-45.148269-80.592526-97.716532-105.34835-156.245554-25.625634-60.584843-38.618553-124.953873-38.618553-191.320397s12.992919-130.735553 38.618553-191.32142c24.755824-58.529021 60.20008-111.097284 105.34835-156.245554s97.716532-80.592526 156.246577-105.34835C381.264443 33.459043 445.634496 20.466124 511.999996 20.466124c66.3655 0 130.735553 12.992919 191.32142 38.618553 58.529021 24.755824 111.097284 60.20008 156.245554 105.34835 45.148269 45.148269 80.592526 97.717555 105.34835 156.245554 25.625634 60.585867 38.618553 124.954897 38.618553 191.32142s-12.992919 130.735553-38.618553 191.320397C940.160519 761.849418 904.716262 814.417681 859.567993 859.56595zM482.579943 402.331251c25.312502-7.087419 51.02614-4.941546 73.554226 4.41659 11.450796-43.066865 47.122227-112.518656 64.844867-144.458089 0.473791-0.776689 0.941442-1.560542 1.396813-2.355651 0.688685-1.206478 1.315972-2.436492 1.971911-3.64604 1.867534-3.451612 5.903453-11.307533 5.581112-13.254885 13.69593-41.197284-3.034103-87.685062-42.176588-110.052488-44.618197-25.496697-101.456716-9.994632-126.95239 34.622542-4.102435 7.178493-7.137561 14.675234-9.166777 22.305005-32.360012 90.52269-4.373611 173.708274 16.695241 217.458707C472.902536 405.40117 477.655793 403.709645 482.579943 402.331251zM836.396247 637.303844c-4.164856-7.141654-9.140171-13.517875-14.733563-19.089777-62.234413-73.308633-148.302651-90.653673-196.718337-94.275153-2.77623 23.939225-13.21293 47.174416-31.365358 65.73719-3.786233 3.872191-7.78736 7.404644-11.957333 10.614755 31.573089 31.448246 73.883731 97.069803 92.683912 128.390135 0.435928 0.796132 0.880043 1.595334 1.342578 2.38635 0.698918 1.201361 1.452071 2.358721 2.171456 3.532453 2.054799 3.343141 6.840802 10.765181 8.686846 11.45796 28.830629 32.460296 77.453023 41.215704 116.396987 18.502399C847.293435 738.668463 862.287941 681.69282 836.396247 637.303844zM401.23938 525.588483c-43.015699 11.623735-121.026424 15.45704-157.557432 16.07921-0.909719-0.022513-1.821485-0.035816-2.737344-0.031722-1.390673 0.008186-2.769067 0.079818-4.14439 0.115634-3.922333 0.10847-12.744255 0.541329-14.270005 1.794879-42.526559 8.736988-74.420967 46.469358-74.218352 91.551112 0.228197 51.387367 42.071188 92.860944 93.459578 92.632747 8.267291-0.035816 16.277732-1.156336 23.899316-3.213181 94.610798-17.244756 152.666028-83.117023 180.007747-123.233696-3.988848-2.978844-7.831362-6.249331-11.489682-9.827833C415.403984 573.08831 404.406512 549.763069 401.23938 525.588483zM512.96702 510.871293m-84.869946 0a82.937 82.937 0 1 0 169.739892 0 82.937 82.937 0 1 0-169.739892 0Z\" /></svg>\n</div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n        $(\"#my_\"+scope.$id).toggleClass('fanOn', msg.payload)\n    }\n  });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1252,"y":670,"wires":[[]]},{"id":"df6452a3.b673d","type":"function","z":"c0db44fd.ce5fa8","name":"Airfan control","func":"var upDiv = 1; //5% hum per minute rising\nvar downDiv = -1; //-2% hum per minute falling\nvar states = {\n    idle: 'idle',\n    humInc: 'humInc',\n    humDec: 'humDec'\n}\n\nvar points = context.get('points') || [];\nvar state = context.get('state') || states.idle;\n\nvar removeOld = ()=>{\n    var toOld = new Date(Date.now()-120*1000);\n    for (var i=0;i<points.length;i++){\n        if (points[i].date<toOld){\n            points.splice(i);\n            break;\n        }\n    }\n}\nvar addPoint = (points, point) =>{\n\n    removeOld();\n    \n    var avarage = 0.0\n    var prevPoint = point\n\n    var toOld = new Date(Date.now()-60*1000);\n    var i=0;\n    for (;i<points.length;i++){\n        if (points[i].date>toOld){\n            avarage +=  prevPoint.value - points[i].value\n            prevPoint=points[i];\n        }else break\n    }\n    avarage=avarage/i\n    var timeSpan = (point.date-prevPoint.date)/(1000.0*60.0)\n    points.unshift(point);\n    context.set('points', points)\n    node.send([null, {payload:{\n        points:points.length,\n        timeSpan : timeSpan,\n        avarage : avarage,\n        dd: avarage / timeSpan\n    }}])\n    return avarage / timeSpan;\n}\nvar payload = JSON.parse(msg.payload);\n\nif (typeof(payload)=='boolean'){\n    if (payload) //fan went on beacuse of fas increasing humidity\n        context.set('state', states.humInc);\n    else //fan ent off because of no longer decreasing humidity\n        context.set('state', states.idle);\n}\nelse if (typeof(payload)=='object'){\n var value = payload.DHT11.Humidity\n var avg = addPoint(points, {\n     date: Date.now(),\n     value: payload.DHT11.Humidity\n })\n switch(state){\n     case states.idle:\n         if (avg>=upDiv) node.send([{payload:true}]) //enable fan\n         break;\n    case states.humInc: \n        if (avg<0) context.set('state', states.humDec);\n        break;\n    case states.humDec: \n        if (avg>downDiv)node.send([{payload:false}]) //disable fan\n        break;\n    default:\n        break;\n }\n node.send([null, {payload:avg}]);\n \n}\n\nstate = context.get('state') || states.idle;\nnode.send([null,{payload:state}]) //disable fan\nif (state==states.idle)\n    node.status({fill:\"green\",shape:\"ring\",text: state});\nelse\n    node.status({fill:\"red\",shape:\"dot\",text: state});","outputs":2,"noerr":0,"x":1100,"y":365,"wires":[[],["94d1e452.9e9d48"]]},{"id":"94d1e452.9e9d48","type":"ui_chart","z":"c0db44fd.ce5fa8","name":"","group":"c19a75b5.09a0e8","order":9,"width":0,"height":0,"label":"Delta Hum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1282.5,"y":274,"wires":[[]]},{"id":"87cab799.767e68","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"hal_oost","name":"Hal oost","minInterval":"1000","x":517,"y":1081,"wires":[["c0cc63f.232bea","a69765f8.3c9cf8"]]},{"id":"c0cc63f.232bea","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"hal_west","name":"Hal west","minInterval":"1000","x":519,"y":1148,"wires":[["87cab799.767e68","236d8c72.d4eb04"]]},{"id":"66bc9440.7a99ec","type":"inject","z":"c0db44fd.ce5fa8","name":"","topic":"Time","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":833,"wires":[["91611905.a92128"]]},{"id":"2343c3aa.1926ec","type":"ui_template","z":"c0db44fd.ce5fa8","group":"80323632.d20c38","name":"Time","order":0,"width":"6","height":"3","format":"<style>\n    .time{\n        font-size: 7em;\n        text-align: center;\n        margin: auto;\n    }\n    .dot{\n        width:12px;\n        position: relative;\n        display: inline;\n    }\n    .notdot{\n        opacity:0;\n    }\n</style>\n<div id=\"time\" class='time' ng-bind-html=\"msg.payload\" withDot=\"{{msg.payload}}\" ></div>\n<script>\n    let dotot = (dot)=>{\n        var cls = dot ? '' : 'notdot'\n        var timeParts =$('#time').attr('withDot').split(':')\n        var txt = `${timeParts[0]}<div class='dot ${cls}'>:</div>${timeParts[1]}`;\n    \n        $('#time').html(txt)\n        setTimeout(function(){ dotot(!dot)}, 1000)\n    }\n    dotot(false)\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1440.5,"y":761,"wires":[[]]},{"id":"dc0a22dc.7538b","type":"ui_chart","z":"c0db44fd.ce5fa8","name":"","group":"c19a75b5.09a0e8","order":2,"width":0,"height":0,"label":"Haard vochtigheid","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"1500","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":618,"wires":[[]]},{"id":"6d87b726.2ecbc8","type":"ui_chart","z":"c0db44fd.ce5fa8","name":"","group":"c19a75b5.09a0e8","order":2,"width":0,"height":0,"label":"Hal vochtigheid","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"1500","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":545,"y":850,"wires":[[]]},{"id":"8dc1fa79.0aacb8","type":"ui_chart","z":"c0db44fd.ce5fa8","name":"","group":"c19a75b5.09a0e8","order":11,"width":0,"height":0,"label":"Slaapkamer vochtigheid","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"10","removeOlderPoints":"1500","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":591,"y":1114,"wires":[[]]},{"id":"bd00bd8.209d04","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"badkamer","name":"Badkamer","x":882,"y":995,"wires":[["31cfdb70.8b03b4"]]},{"id":"31cfdb70.8b03b4","type":"ui_switch","z":"af0fa69e.8961f8","name":"","label":"Badkamer","tooltip":"","group":"5eaae852.79b548","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":883,"y":932,"wires":[["bd00bd8.209d04"]]},{"id":"91e5c758.623008","type":"mqtt in","z":"af0fa69e.8961f8","name":"","topic":"stat/+/POWER","qos":"2","broker":"b2642e28.f4a65","x":121,"y":51,"wires":[["60429581.71707c"]]},{"id":"60429581.71707c","type":"function","z":"af0fa69e.8961f8","name":"AllDownUp","func":"var devices = context.get('devices')||{};\nvar excludes ='blitzwolf,westgevel_flood,schrikdraad';\n//handle 'all on/off' switching\nif (msg.topic=='switch'){\n   for(var item in devices){\n        if ((msg.payload && devices[item]=='BULKOFF') ||\n            (!msg.payload &&  devices[item]=='ON')){\n                node.send([{\n                    topic:'cmnd/'+item+'/power',\n                    payload:msg.payload ? 'ON' : 'OFF'\n                }, null])\n            if (!msg.payload)\n                devices[item]='BULKOFF'\n        } else if (!msg.payload &&  devices[item]=='BULKOFF'){\n            devices[item]='OFF' //forget old bulk-offed devices\n        }\n    }\n}\nvar topics= msg.topic.split('/');\nvar topic = topics[1]\n//this data comes after changing power commands\nif (topics[0]=='stat' && topics[2]=='POWER'){\n    if (msg.payload=='ON' || devices[topic]!='BULKOFF')\n        devices[topic]=msg.payload\n}\n//this data comes after init of sonoff nodes in node-red\n//and gives almost comlete devices list\nif (\n        topics[0]=='stat' \n        && topics[2]=='STATUS' \n        && excludes.indexOf('topic')<0\n        ){\n    var powerOn=JSON.parse(msg.payload).Status.Power;\n    if (powerOn || devices[topic]!='BULKOFF')\n        devices[topic]=powerOn? 'ON' :'OFF'\n}\n\nvar someThingIsOn=false;\nfor(var item in devices){\n    someThingIsOn= someThingIsOn || devices[item]=='ON'\n}\n\ncontext.set('devices',devices );\nreturn [null, {payload:someThingIsOn}, {payload: devices}]//update switch state","outputs":3,"noerr":0,"x":370,"y":140,"wires":[["75166f28.f4b78"],["81606ce2.0d2d8"],[]]},{"id":"81606ce2.0d2d8","type":"ui_switch","z":"af0fa69e.8961f8","name":"","label":"Alles ","tooltip":"","group":"2a9110da.fa80c","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":361,"y":218,"wires":[["60429581.71707c"]]},{"id":"75166f28.f4b78","type":"mqtt out","z":"af0fa69e.8961f8","name":"Send state","topic":"","qos":"1","retain":"","broker":"b2642e28.f4a65","x":528,"y":60,"wires":[]},{"id":"782fe9.1c33d018","type":"mqtt in","z":"af0fa69e.8961f8","name":"","topic":"stat/+/STATUS","qos":"2","broker":"b2642e28.f4a65","x":120,"y":140,"wires":[["60429581.71707c"]]},{"id":"255ad2a1.43f6ce","type":"Sonoff PIR","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"sonoff","lightDepend":"night","lon":"6.286950","lat":"52.672320","start":"sunrise","startOffset":"010","end":"sunsetStart","endOffset":"10","offAfter":"20","name":"Pir voordeur","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"EC21EE, F18B54","x":538,"y":1430,"wires":[["6dc4254b.7d4b0c","1c2b47a5.b7ca78","c56d6764.bc5c48","674d3f9f.62a1a"],[]]},{"id":"6dc4254b.7d4b0c","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"portiek","name":"Portiek","x":540,"y":1340,"wires":[["a386ff06.cc60a","255ad2a1.43f6ce"]]},{"id":"a386ff06.cc60a","type":"ui_switch","z":"af0fa69e.8961f8","name":"","label":"Buitenlampen","tooltip":"","group":"f8c0aaa4.cef178","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":552,"y":1296,"wires":[["6dc4254b.7d4b0c"]]},{"id":"1c2b47a5.b7ca78","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"zuidgevel","name":"Zuidgevel","x":761,"y":1333,"wires":[[]]},{"id":"3e7f1559.0083fa","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"bijkeuken","name":"Bijkeuken","x":560,"y":934,"wires":[["fc790298.9f326"]]},{"id":"fc790298.9f326","type":"ui_switch","z":"af0fa69e.8961f8","name":"","label":"Bijkeuken","tooltip":"","group":"b380197b.093bc8","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":555,"y":877,"wires":[["3e7f1559.0083fa"]]},{"id":"91611905.a92128","type":"moment","z":"c0db44fd.ce5fa8","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm","locale":"nl_NL","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":1299.5,"y":863,"wires":[["2343c3aa.1926ec"]]},{"id":"fd52d151.e0f4f","type":"mqtt in","z":"b416c89a.b359e8","name":"","topic":"#","qos":"2","datatype":"auto","broker":"b2642e28.f4a65","x":66,"y":127,"wires":[["16391416.6b7e7c"]]},{"id":"16391416.6b7e7c","type":"function","z":"b416c89a.b359e8","name":"discovery","func":"var knownDevices = context.get('knownDevices') || {}\n\nvar topic=msg.topic.split('/')[1]\nif (!knownDevices[topic]){\n    knownDevices[topic]={}\n    node.send({\n        topic:`cmnd/${topic}/Status`,\n        payload: '5'\n    })\n}\ncontext.set('knownDevices', knownDevices)\nreturn [null,msg]","outputs":2,"noerr":0,"x":256.5,"y":218,"wires":[["345eb8cc.dfc6b8"],[]]},{"id":"446d975e.c7e1b8","type":"mqtt in","z":"b416c89a.b359e8","name":"","topic":"+/+/STATUS5","qos":"2","datatype":"auto","broker":"b2642e28.f4a65","x":122,"y":373,"wires":[["64599429.70adbc"]]},{"id":"345eb8cc.dfc6b8","type":"mqtt out","z":"b416c89a.b359e8","name":"","topic":"","qos":"","retain":"","broker":"b2642e28.f4a65","x":472.5,"y":200,"wires":[]},{"id":"64599429.70adbc","type":"function","z":"b416c89a.b359e8","name":"IPextracter","func":"var knownDevices = context.get('knownDevices') || {}\nvar res = JSON.parse(msg.payload).StatusNET;\nvar {Hostname, ...rest} = res\n\nif (!knownDevices[Hostname]){\n    knownDevices[Hostname]=rest\n \n}\ncontext.set('knownDevices', knownDevices)\nreturn {\n    topic:Hostname, \n    payload: knownDevices\n}","outputs":1,"noerr":0,"x":349.5,"y":436,"wires":[["2e4498fd.58f368"]]},{"id":"2e4498fd.58f368","type":"ui_template","z":"b416c89a.b359e8","group":"7d85df91.20795","name":"","order":0,"width":"6","height":"9","format":"<div id=\"{{'my_'+$id}}\" >\n    \n    \n</div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n        var container = $(\"#my_\"+scope.$id)\n        container.children().remove();\n        for (var name in msg.payload){\n           var elem = msg.payload[name];\n           container.append(`<a target=\"_blank\" href=\"http://${elem.IPAddress}\">${name}</a><br/>`)\n        }\n    }\n  });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":552.5,"y":521,"wires":[[]]},{"id":"d1c11137.e6b0b","type":"Dhcp events","z":"b416c89a.b359e8","name":"","x":488.5,"y":288,"wires":[["36b8ff93.435a5"],["36b8ff93.435a5"]]},{"id":"c56d6764.bc5c48","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"westgevel_peer","name":"","minInterval":1000,"x":773.5,"y":1460,"wires":[[]]},{"id":"55d7c77d.c5d6a8","type":"mqtt in","z":"b416c89a.b359e8","name":"","topic":"tele/sonoff/RESULT","qos":"2","datatype":"auto","broker":"b2642e28.f4a65","x":650,"y":365,"wires":[["61bb8bbd.f99614"]]},{"id":"7a35a8c3.50f3e8","type":"ui_template","z":"b416c89a.b359e8","group":"80323632.d20c38","name":"rfcode","order":0,"width":"6","height":"3","format":"<style>\n    .rfcode{\n        font-size: 5em;\n        text-align: center;\n        margin: auto;\n    }\n</style>\n<div id=\"rfcode\" class='rfcode' ng-bind-html=\"msg.payload\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":927,"y":522,"wires":[[]]},{"id":"36b8ff93.435a5","type":"debug","z":"b416c89a.b359e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":732.5,"y":273,"wires":[]},{"id":"61bb8bbd.f99614","type":"function","z":"b416c89a.b359e8","name":"getID","func":"var res = JSON.parse(msg.payload).RfReceived\nvar {Data, ...rest} = res\nreturn {\n    topic:'rdDetect', \n    payload: Data\n}","outputs":1,"noerr":0,"x":823,"y":396,"wires":[["7a35a8c3.50f3e8"]]},{"id":"f2928b63.827dc8","type":"Sonoff RF Button","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"sonoff","lightDepend":"always","offAfter":-1,"name":"","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"F18B52","x":839,"y":755,"wires":[["125bd095.583e6f"]]},{"id":"89ca00dd.1dfdf","type":"Sonoff PIR","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"sonoff","lightDepend":"always","lon":"6.29555","lat":"52.67456","start":"sunrise","startOffset":0,"end":"sunset","endOffset":0,"offAfter":300,"name":"KeukenPIR","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"EC254E","x":237,"y":586,"wires":[["914e4b99.e61048"],[]]},{"id":"a69765f8.3c9cf8","type":"Sonoff PIR","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"sonoff","lightDepend":"night","lon":"6.29555","lat":"52.67456","start":"sunrise","startOffset":0,"end":"sunset","endOffset":0,"offAfter":300,"name":"Pir Hal","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"EB490E","x":521,"y":1010,"wires":[["87cab799.767e68"],[]]},{"id":"92e8f77b.9566b8","type":"Sonoff RF Button","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"sonoff","lightDepend":"always","offAfter":-1,"name":"","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"3F8CF8","x":619,"y":439,"wires":[["125bd095.583e6f","5944375d.1c19b8","25014370.2208cc","34a48dce.b618b2"]]},{"id":"22ade018.9a5ad","type":"Sonoff RF Button","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"sonoff","lightDepend":"always","offAfter":-1,"name":"","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"611A68, B3DC38","x":518,"y":781,"wires":[["f146fadb.bde578"]]},{"id":"833324da.269b58","type":"Sonoff RF Button","z":"43bc57b9.925ae8","mode":"0","broker":"b2642e28.f4a65","device":"sonoff","lightDepend":"always","offAfter":-1,"name":"Knop Guus","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"E8B6F8","x":548,"y":80,"wires":[["5a7a0815.4d2768"]]},{"id":"15e1ff4e.be6631","type":"Sonoff RF Button","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"sonoff","lightDepend":"always","offAfter":-1,"name":"","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"A9B958","x":794,"y":186,"wires":[["4f6afe71.7f4df"]]},{"id":"bbd08385.0b527","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"achter_peer","name":"Achter_peer","minInterval":"1000","x":876,"y":1174,"wires":[["fdca9ebc.d10ee","9863e568.ddbc28","2f82168b.8315ca"]]},{"id":"fdca9ebc.d10ee","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"achter_tl","name":"Achter_tl","minInterval":"1000","x":1061,"y":1158,"wires":[[]]},{"id":"9863e568.ddbc28","type":"ui_switch","z":"af0fa69e.8961f8","name":"","label":"Achter","tooltip":"","group":"5eaae852.79b548","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":875,"y":1109,"wires":[["bbd08385.0b527"]]},{"id":"2f82168b.8315ca","type":"Sonoff PIR","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"sonoff","lightDepend":"always","lon":"6.29555","lat":"52.67456","start":"sunrise","startOffset":0,"end":"sunset","endOffset":0,"offAfter":300,"name":"Pir Achter","cmdPrefix":"cmnd","telePrefix":"tele","keyIds":"EBE2DE","x":875,"y":1243,"wires":[["bbd08385.0b527"],[]]},{"id":"674d3f9f.62a1a","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"bb2b_buitenlamp","name":"Konijnenlamp","minInterval":"1000","x":812,"y":1387,"wires":[[]]},{"id":"c28fb10c.d4b38","type":"Sonoff basic","z":"af0fa69e.8961f8","mode":"0","broker":"b2642e28.f4a65","device":"schrikdraad","name":"Schrikdraad","minInterval":"1000","x":990,"y":1351,"wires":[["93c736c9.556298"]]},{"id":"93c736c9.556298","type":"ui_switch","z":"af0fa69e.8961f8","name":"","label":"Schrikdraad","tooltip":"","group":"f8c0aaa4.cef178","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":976,"y":1301,"wires":[["c28fb10c.d4b38"]]}]